<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Site.png" type="image/png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Arc Park</title>
</head>

<body>
    <header class="container-fluid" style="background-color: #0D48B2;">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/static/logo/Logo.svg" width="360" class="img-fluid" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2 fs-5">
                        <a class="nav-link text-white" href="#">Início</a>
                    </li>
                    <li class="nav-item mx-2 fs-5">
                        <a class="nav-link text-white" href="#">Sobre</a>
                    </li>
                    <li class="nav-item mx-2 fs-5">
                        <a class="nav-link text-white" href="#">Funções</a>
                    </li>
                    <li class="nav-item mx-2 fs-5">
                        <a class="nav-link text-white" href="#">Contato</a>
                    </li>
    
                    <li class="nav-item mx-md-5 fs-5">
                        <a class="nav-link text-bg-warning rounded-2" href="/login">Entrar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid d-flex text-center justify-content-center align-items-center text-white" style="background-color: #0D48B2; height: 80vh;">
        <div class="row">
            <div class="col">
                <h1>Arc Park</h1>
                <h3 class="text-warning">Seu sistema completo de gerenciamento de estacionamentos rotativos.</h3>
                <a class="btn btn-success mt-5 fs-4" href="#">Saiba mais</a>
            </div>
        </div>
    </div>

    <footer class="container-fluid d-flex text-center justify-content-center align-items-center text-white" style="background-color: #0D48B2; height: 10vh;">
        <p>Todos os direitos reservados.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>