{% extends "base.html" %} 

{% block title %}Operadores - Cadastro{% endblock %}

{% block content %}

<div class="text-start">
    <h1>Cadastro de Operadores</h1>
    <hr class="border border-black border-2 opacity-100">
</div>

<form class="row g-3 bg-gray my-4 border rounded-4 px-5 py-3 needs-validation" method="post" novalidate>
    <div class="col-12">
        <label for="NomeOperador" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="NomeOperador" id="NomeOperador" minlength="3" maxlength="40"  required>
        <div class="valid-feedback">
            Campo informado corretamente.
        </div>
        <div class="invalid-feedback">
            Por favor, informe o nome do operador.
        </div>
    </div>
    <div class="col-12">
        <label for="CpfOperador" class="form-label">CPF:</label>
        <input type="text" class="form-control" name="CpfOperador" id="CpfOperador"
        pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$|^\d{2}\.\d{3}\.\d{3}\/\d{4}-\d{2}$" placeholder="000.000.000-00" required>
        <div class="valid-feedback">
            Campo informado corretamente.
        </div>
        <div class="invalid-feedback">
            Por favor, informe o CPF do operador (com pontos e traço) no formato válido (EX: 000.000.000-00).
        </div>
    </div>
    <div class="col-12">
        <label for="ContatoOperador" class="form-label">Telefone:</label>
        <input type="text" class="form-control" name="ContatoOperador" id="ContatoOperador"
        pattern="(\(\d{2}\)\s?)?\d{5}-\d{4}" placeholder="(99) 99999-9999" required>
        <div class="valid-feedback">
            Campo informado corretamente.
        </div>
        <div class="invalid-feedback">
            Por favor, informe o contato do operador no formato correto (EX: "(99) 99999-9999" ou "99999-9999").
        </div>
    </div>
    <div class="col-12">
        <label for="SenhaOperador" class="form-label">Senha:</label>
        <input type="password" class="form-control" name="SenhaOperador" id="SenhaOperador" required>
        <div class="valid-feedback">
            Campo informado corretamente.
        </div>
        <div class="invalid-feedback">
            Por favor, informe a senha do operador.
        </div>
    </div>

    <div class="col-12 text-center my-5">
        <button type="submit" class="btn btn-blue">Cadastrar</button>
        <a href="/operadores" class="btn btn-light px-4 mx-2 mt-3 mt-sm-0">Voltar</a>
    </div>
</form>


{% endblock %}