{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}

<div class="text-start">
    <h1>Alterar Perfil</h1>
    <hr class="border border-black border-2 opacity-100">
</div>


<div class="d-flex justify-content-center align-items-center">
    <form class="row g-3 bg-gray my-4 border rounded-4 px-5 py-3 needs-validation" novalidate method="post">
        <div class="col-lg-12">
            <div class="col-12 my-3">
                <label for="NomeEstacionamento" class="form-label">Nome:</label>
                <input type="text" class="form-control" name="NomeEstacionamento" id="NomeEstacionamento" required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe o nome do estacionamento.
                </div>
            </div>
            <div class="col-12 my-3">
                <label for="EmailEstacionamento" class="form-label">E-mail:</label>
                <input type="email" class="form-control" name="EmailEstacionamento" id="EmailEstacionamento" required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe um e-mail válido.
                </div>
            </div>
            <div class="col-12 my-3">
                <label for="CnpjEstacionamento" class="form-label">CNPJ:</label>
                <input type="text" class="form-control bg-light" name="CnpjEstacionamento" id="CnpjEstacionamento"
                    pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$|^\d{2}\.\d{3}\.\d{3}\/\d{4}-\d{2}$" placeholder="00.000.000/0000-00" required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe o CNPJ do seu estacionamento (com pontos, barra e traço) no formato válido (EX:
                    00.000.000/0000-00).
                </div>
            </div>
            <div class="col-12 my-3">
                <label for="CepEstacionamento" class="form-label">CEP:</label>
                <input type="text" class="form-control bg-light" name="CepEstacionamento" id="CepEstacionamento"
                    pattern="^\d{5}-\d{3}$" placeholder="00000-000" required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe o CEP do seu estacionamento no formato correto (EX: 00000-000).
                </div>
            </div>
            <div class="col-12 my-3">
                <label for="EnderecoEstacionamento" class="form-label">Endereço:</label>
                <input type="text" class="form-control" name="EnderecoEstacionamento" id="EnderecoEstacionamento"
                    required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe o endereço do estacionamento.
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Segunda-feira:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaSegunda">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaSegunda" name="AberturaSegunda" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura da segunda-feira.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoSegunda">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoSegunda" name="FechamentoSegunda" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento da segunda-feira.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Terça-feira:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaTerca">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaTerca" name="AberturaTerca" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura da terça-feira.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoTerca">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoTerca" name="FechamentoTerca" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento da terça-feira.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Quarta-feira:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaQuarta">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaQuarta" name="AberturaQuarta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura da quarta-feira.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoQuarta">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoQuarta" name="FechamentoQuarta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento da quarta-feira.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Quinta-feira:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaQuinta">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaQuinta" name="AberturaQuinta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura da quinta-feira.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoQuinta">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoQuinta" name="FechamentoQuinta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento da quinta-feira.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Sexta-feira:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaSexta">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaSexta" name="AberturaSexta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura da sexta-feira.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoSexta">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoSexta" name="FechamentoSexta" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento da sexta-feira.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Sábado:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaSabado">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaSabado" name="AberturaSabado" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura do sábado.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoSabado">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoSabado" name="FechamentoSabado" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento do sábado.
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <h6>Domingo:</h6>
                </div>
                <div class="col-md-4 my-1 my-sm-0">
                    <label for="AberturaDomingo">Abertura:</label>
                    <input type="time" class="form-control" id="AberturaDomingo" name="AberturaDomingo" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de abertura do domingo.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="FechamentoDomingo">Fechamento:</label>
                    <input type="time" class="form-control" id="FechamentoDomingo" name="FechamentoDomingo" required>
                    <div class="valid-feedback">
                        Campo informado corretamente.
                    </div>
                    <div class="invalid-feedback">
                        Por favor, informe o horário de fechamento do domingo.
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-12 text-center mx-auto my-3">
                <label for="NumeroVagas" class="form-label">Número de Vagas:</label>
                <input type="number" class="form-control" id="NumeroVagas" max="200" min="1" name="NumeroVagas" required>
                <div class="valid-feedback">
                    Campo informado corretamente.
                </div>
                <div class="invalid-feedback">
                    Por favor, informe o número de vagas (máximo: 200, mínimo: 1).
                </div>
            </div>
        </div>

        <div class="col-12 text-center my-5">
            <button type="submit" class="btn btn-blue px-4">Alterar</button>
            <a href="/perfilEstacionamento" class="btn btn-light px-4 mx-2 mt-3 mt-sm-0">Voltar</a>
        </div>
    </form>
</div>



{% endblock %}